@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background: rgb(0, 0, 0) !important;
    font-family: 'Roboto', sans-serif !important;
}



:root {
    --bgcolor: #e50914;
}

header {
    background: rgb(22, 199, 46);
    height: 95vh;
    background-image: url("./images/banner.jpg");
    background-size: cover;
    position: relative;
}

header:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 95vh;
    top: 0;
    background: linear-gradient(0deg, transparent 50%, rgba(32, 20, 20, 0.1)), radial-gradient(55% 70%, transparent 0%, rgba(3, 3, 3, .6) 100%);
    z-index: 0;
}

header:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 95vh;
    top: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}

header nav img {
    width: 13rem;
    height: 7rem;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    padding: 0 3rem 0 3rem;
    position: relative;
    z-index: 1;
}

nav .all-buttons {
    color: #fff;
    position: relative;
    display: flex;
}

.for-icons {
    background: rgb(4, 3, 3, .5);
    border: 1px solid #fff;
    border-radius: 2px;
    position: relative;
}

.for-icons img {
    position: absolute;
    left: 0;
    top: 9px;
}

.for-icons i {
    position: absolute;
    right: 6px;
    top: 8px;
    font-size: 18px
}

nav select {
    background: rgb(4, 3, 3, .5);
    color: #fff;
    padding: 7px 23px !important;
    font-size: .9rem;
    border: none;
    outline: none;
    text-indent: 1px;
    /* text-indent: 20px; */

}

nav button {
    margin-left: 1rem;
    color: #fff;
    background: var(--bgcolor);
    border: none;
    outline: none;
    padding: 7px 23px;
    border-radius: 3px;
    font-size: 1rem;
}

.home-banner {
    height: 88vh;
    position: relative;
    z-index: 1;
}

.home-banner .home-banner_content {
    padding-top: 9rem;
    width: 60%;
    margin: auto;
    text-align: center;
    padding-bottom: 5rem;
    color: #fff;
}

.home-banner_content h1 {
    font-size: 4rem;
    font-weight: 600;
}

.home-banner_content p {
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.home-banner_content p:nth-child(3) {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.search-address {
    display: flex;
    justify-content: center;
}

.search-address img {
    height: 5vh;
    margin-top: -2px;
}

.home-banner_content input {
    width: 33rem;
    padding: 20px;
    outline: none;
    font-size: 1rem;
}

.home-banner_content button {
    width: 13rem !important;
    padding: 14px;
    background: var(--bgcolor);
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.6rem;
}

.header-hr {
    background: rgb(138, 138, 138);
    width: 100%;
    height: .7rem;
    border: none;
    position: absolute;
    bottom: -28px;
}

/* //media query fo small devices */
@media all and (max-width:550px) {
    header nav {
        padding: 0 1rem 0 1rem;
    }

    #logo img {
        width: 6rem;
        height: 4rem;
    }

    nav .all-buttons select {
        padding: 2px 5px;
    }

    nav .all-buttons button {
        padding: 2px 13px;
        margin-left: 4px;
    }

    .home-banner .home-banner_content {
        padding-top: 3.8rem;
        width: 97%;
    }

    .home-banner .home-banner_content h1 {
        font-size: 1.8rem;
    }

    .home-banner .home-banner_content p {
        font-size: 1.2rem;
        margin-bottom: .8rem;
    }

    .home-banner_content .search-address {
        display: block;
    }

    .home-banner_content form input {
        width: 90%;
        padding: 10px;
        margin-bottom: 1rem;
    }

    .home-banner_content form button {
        width: 10rem;
        padding: 10px;
        font-size: 1rem;
        font-weight: 600;
    }
}

/* //for medium device */
@media (min-width:550px) and (max-width:950px) {
    #logo img {
        width: 9rem;
        height: 5rem;
    }

    nav .all-buttons select {
        padding: 5px 10px;
    }

    nav .all-buttons button {
        padding: 5px 18px;
        margin-left: 13px;
    }

    .home-banner .home-banner_content {
        padding-top: 6rem;
        width: 97%;
    }

    .home-banner .home-banner_content h1 {
        font-size: 3rem;
    }

    .home-banner_content p:nth-child(3) {
        font-size: 1.2rem;
    }

    .home-banner_content .search-address {
        display: block;
    }

    .home-banner_content form input {
        width: 70%;
        padding: 10px;
        display: block;
        margin: auto;
    }

    .home-banner_content form button {
        width: 10rem;
        padding: 10px;
        font-size: 1rem;
        font-weight: 600;
        margin-top: 1rem;
    }
}

@media (min-width:950px) and (max-width:1470px) {
    #logo img {
        width: 10rem;
        height: 6rem;
    }

    .home-banner .home-banner_content {
        padding-top: 8rem;
        width: 97%;
    }

    .home-banner .home-banner_content h1 {
        font-size: 3rem;
    }

    nav .all-buttons select,
    nav .all-buttons button {
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .home-banner_content form input {
        width: 40%;
        padding: 17px;
    }

    .home-banner_content form button {
        width: 10rem;
        padding: 17px;
        font-size: 1.2rem;
        font-weight: 600;
    }
}

/* ------------------------------main =>enjoy tv section */
main {
    background: rgb(1, 1, 1);
    color: #fff;
}

.enjoy-tv {
    text-align: center;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.enjoy-tv .col-lg-5:nth-child(2) {
    display: flex !important;
    align-items: center !important;
}

.enjoy-tv h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.enjoy-tv p {
    font-size: 1.7rem;
    font-weight: 500;
}

.enjoy-tv_img {
    position: relative;
    width: 100%;
}

.img-div {
    width: fit-content !important;
    position: relative;
}

.enjoy-tv_img img:nth-child(1) {
    max-width: 70%;
    position: relative;
}

.enjoy-tv_img img:nth-child(2) {
    max-width: 57.7%;
    max-height: 50vh;
    position: absolute;
    left: 21%;
    top: 9.7%;
}

.enjoy-tv_img img:nth-child(3) {
    position: absolute;
    width: 6%;
    height: 14vh;
    right: 25%;
    bottom: 0;
}

.section-hr {
    background: rgb(138, 138, 138);
    width: 100%;
    height: .7rem;
    border: none;
}

@media all and (max-width:550px) {
    .enjoy-tv_img img:nth-child(3) {
        width: 9%;
        height: 13vh;
    }

    .enjoy-tv h1 {
        font-size: 2rem;
    }

    .enjoy-tv p {
        font-size: 1.1rem;
        /* padding: 2px; */
        /* background: rgb(209, 86, 86); */
    }
}

@media all and (min-width:551px) and (max-width:992px) {
    .enjoy-tv {
        height: 80vh;
    }

    .img-div {
        width: 70% !important;
        margin: auto;
    }

    .enjoy-tv h1 {
        font-size: 2.6rem;
    }

    .enjoy-tv p {
        font-size: 1.4rem;
    }
}

@media all and (min-width:992px) {
    .enjoy-tv {
        height: 60vh;
    }

    .enjoy-tv .col-lg-5:nth-child(2) {
        text-align: left !important;
        /* background: rgb(230, 133, 133); */
        position: relative;
        left: 7%;
    }
}

@media all and (min-width:1400px) {
    .img-div {
        width: 80% !important;
        margin: auto;
    }
}

@media all and (min-width:1800px) {
    .img-div {
        width: 70% !important;
        margin: auto;
    }
}

/* section 2--------------------------------- */
.downlode-sec .row {
    width: 100%;
    margin: auto;
}

.downlode-sec .sect-2_content {
    text-align: center;
}

.sect-2_content h1 {
    font-size: 3rem;
    font-weight: 700;
}

.sect-2_content p {
    font-size: 1.7rem;
    font-weight: 500;
}

.dow-sec-img {
    position: relative;
    text-align: center;
    top: 13%;
}

.dow-sec-img img:nth-child(1) {
    width: 40%;
    height: 40vh;
    filter: drop-shadow(0px 0px 2px #fff);
}

.dow-sec-img img:nth-child(2) {
    position: absolute;
    top: 15%;
    left: 33%;
    width: 35%;
    height: 25vh;
    object-fit: cover;
}

.dow-sec-img img:nth-child(3) {
    position: absolute;
    width: 7%;
    height: 5vh;
    top: 17%;
    right: 59%;
}

.downlode-sec .col-lg-5:nth-child(3) {
    position: relative;
}

.dow-sec-content img:nth-child(3) {
    width: 30px;
    height: 30px;
    margin-left: 1rem;
}

.dow-sec-content img:nth-child(1) {
    width: 70px;
    height: 90px;
    margin-right: 1rem;
}

.dow-sec-content {
    display: flex;
    background: #000;
    width: fit-content;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 10%;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 16px;
}

.dow-sec-content span {
    color: rgb(14, 70, 199);
}

@media all and (max-width:550px) {
    .sect-2_content h1 {
        font-size: 2rem;
    }

    .sect-2_content p {
        font-size: 1.2rem;
    }

    .dow-sec-img img:nth-child(1) {
        max-width: 40%;
        height: 30vh;
    }

    .dow-sec-img img:nth-child(2) {
        height: 20vh;
    }

    .dow-sec-content img:nth-child(1) {
        width: 40px;
        height: 40px;
    }
}

@media all and (min-width:551px) and (max-width:991px) {
    .sect-2_content h1 {
        font-size: 2.6rem;
    }

    .sect-2_content p {
        font-size: 1.4rem;
    }
}

@media all and (min-width:551px) {
    .dow-sec-content {
        padding: 15px;
    }

    .dow-sec-content img:nth-child(1) {
        width: 50px;
        height: 55px;
    }

    .dow-sec-content img:nth-child(1) {
        margin-right: 2rem;
    }

    .dow-sec-content img:nth-child(2) {
        margin-left: 2rem;
    }
}

@media (min-width:400px) and (max-width:700px) {
    .dow-sec-img img:nth-child(1) {
        max-width: 30%;
        max-height: 40vh;
    }

    .dow-sec-img img:nth-child(2) {
        max-width: 26.7%;
        max-height: 28vh;
        left: 37%;
    }

    .dow-sec-img img:nth-child(3) {
        top: 18%;
        right: 56%;
    }
}

@media (min-width:700px) and (max-width:992px) {
    .dow-sec-img img:nth-child(1) {
        width: 25%;
        height: 43vh;
    }

    .dow-sec-img img:nth-child(2) {
        max-width: 22.4%;
        height: 35vh;
        left: 39%;
    }

    .dow-sec-img img:nth-child(3) {
        top: 18%;
        right: 54%;
    }

    .dow-sec-content img:nth-child(1) {
        margin-right: 3rem;
    }

    .dow-sec-content img:nth-child(2) {
        margin-left: 3rem;
    }
}

@media all and (min-width:1050px) {
    .dow-sec-content img:nth-child(1) {
        margin-right: 3rem;
    }

    .dow-sec-content h6:nth-child(2) {
        margin-right: 3rem;
    }
}

@media all and (min-width:1600px) {
    .dow-sec-img img:nth-child(1) {
        height: 33vh;
    }

    .dow-sec-content img:nth-child(1) {
        margin-right: 4rem;
    }

    .dow-sec-content h6:nth-child(2) {
        margin-right: 4rem;
    }
}

@media all and (min-width:992px) {
    .downlode-sec .row {
        display: flex !important;
        flex-direction: row-reverse !important;
    }

    .downlode-sec .sect-2_content {
        margin-top: 15%;
    }

    .sect-2_content h1 {
        text-align: left;
        padding-left: 30px;
    }

    .sect-2_content p {
        text-align: left;
        padding-left: 30px;
    }
}

/* Section3------------------------------ */
.watch-everywhere .row {
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
}

.watch-everywhere .row h1 {
    font-size: 3rem;
    font-weight: 700;
}

.watch-everywhere .row p {
    font-size: 1.7rem;
    font-weight: 500;
}

.watch-everywhere .col-lg-5:nth-child(3) {
    position: relative;
}

.common-img {
    position: relative;
}

.common-img img:nth-child(1) {
    width: 80%;
    height: 45vh;
    position: relative;
    z-index: 1;
}

.common-img img:nth-child(2) {
    width: 60%;
    height: 31vh;
    position: absolute;
    top: 5%;
    left: 17%;
    object-fit: cover;
}

.common-img .play-codes {
    background: rgb(139, 138, 138);
    width: 60%;
    height: .5vh;
    position: absolute;
    bottom: 36%;
    left: 17.1%;
    z-index: 0;
}

.play-codes .white {
    background: #fff;
    width: 30%;
    height: .5vh;
    position: absolute;
    top: 0;
    left: 40%;
}

.play-codes .red {
    background: rgb(238, 6, 6);
    width: 50%;
    height: .5vh;
    position: absolute;
    top: 0;
    left: 0;
}

@media all and (max-width:430px) {
    .common-img img:nth-child(1) {
        width: 90%;
        height: 36vh;
        margin-left: 20px;
    }

    .common-img img:nth-child(2) {
        width: 70%;
        height: 24vh;
        left: 14%;
    }
}

@media (min-width:431px) and (max-width:590px) {
    .common-img img:nth-child(1) {
        width: 80%;
        height: 40vh;
    }

    .common-img img:nth-child(2) {
        width: 63%;
        height: 26vh;
        left: 16%;
    }
}

@media all and (max-width:551px) {
    .watch-everywhere .row h1 {
        font-size: 2rem;
    }

    .watch-everywhere .row p {
        font-size: 1.2rem;
        font-weight: 600;
    }
}

@media (min-width:590px) and (max-width:750px) {
    .common-img img:nth-child(1) {
        width: 70%;
        height: 50vh;
    }

    .common-img img:nth-child(2) {
        width: 54%;
        height: 33vh;
        left: 20%;
    }
}

@media (min-width:751px) and (max-width:992px) {
    .common-img img:nth-child(1) {
        width: 50%;

    }

    .common-img img:nth-child(2) {
        width: 38%;
        left: 29%;
    }

    .common-img .play-codes {
        width: 36%;
        left: 29.1%;
    }
}

@media (min-width:551px) and (max-width:991px) {
    .watch-everywhere .row h1 {
        font-size: 2.4rem;
    }

    .watch-everywhere .row p {
        font-size: 1.5rem;
    }
}

@media all and (min-width:992px) {
    .watch-everywhere p {
        text-align: left;
        padding-left: 10px;
    }

    .watch-everywhere h1 {
        text-align: left;
    }

    .watch-everywhere .row .col-lg-5:nth-child(2) {
        position: relative;
        left: 6%;
    }

    .watch-everywhere .row .col-lg-5:nth-child(3) {
        position: relative;
        left: 4%;
    }
}


/*----------- section4 ----------*/
.children-profile .row {
    /* background: rgb(206, 112, 112); */
    width: 100%;
    margin: auto;
    /* height: 60vh; */
    display: flex;
    align-items: center;
}

.children-profile img {
    width: 90%;
}

.children-profile h1 {
    font-size: 3rem;
    font-weight: 700;
}

.children-profile p {
    font-size: 1.5rem;
    font-weight: 400;
}

@media all and (max-width:992px) {
    .children-profile .row {
        /* display: flex; */
        /* flex-direction: column; */
        display: flex !important;
        flex-direction: column-reverse;
        text-align: center;
    }
}

@media all and (max-width:550px) {
    .children-profile h1 {
        font-size: 2rem;
        /* padding: 5px; */
    }

    .children-profile p {
        font-size: 1.2rem;
        padding: 5px;
    }

    .children-profile img {
        width: 80%;
    }
}

@media (min-width:550px) and (max-width:992px) {
    .children-profile h1 {
        font-size: 2.4rem;
    }

    .children-profile p {
        font-size: 1.6rem;
    }

    .children-profile img {
        width: 70%;
    }
}

@media all and (min-width:992px) {
    .children-profile .row {
        height: 60vh;
        position: relative;
        /* left: 6%; */
    }
}

/* section-5-------------- */
.asked-ques {
    text-align: center;
}

.asked-ques h1 {
    margin: 4% 0;
    font-size: 3rem
}

.accordion {
    /* margin: auto; */
    --bs-accordion-border-color: none !important;
    --bs-accordion-bg: rgb(46, 46, 46) !important;

}

.accordion-item {
    color: #fff !important;
    margin-bottom: .5rem;
    font-size: 1.6rem !important;
    font-weight: 500;
}

.accordion-button {
    background: rgb(46, 46, 46) !important;
    color: #fff !important;
    font-size: 1.8rem !important;
    padding: 20px !important;
    font-weight: 400;
}

.accordion-body {
    border-top: 2px solid rgb(14, 12, 12);
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-button::after {
    content: "";
    background-image: url("./images/icons8-plus-math-30.png") !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("./images/icons8-close-30.png") !important;
}

@media all and (max-width:991px) {
    .asked-ques h1 {
        font-size: 1.8rem
    }

    .accordion-item {
        font-size: 1.1rem !important;
        text-align: left;
    }

    .accordion-button {
        font-size: 1.2rem !important;
    }
}

@media (min-width:550px) and (max-width:991px) {
    .accordion {
        width: 80%;
        margin: auto;
    }
}

@media all and (min-width:992px) {
    .accordion {
        width: 50%;
        margin: auto !important;
    }
}

/* form design */
.home-banner_content p {
    font-size: 1.2rem;
    margin: 2rem 0 1rem 0;
    font-weight: 500;
}

/* ----------footer------ -*/
footer {
    /* background: rgb(55, 50, 50); */
    padding: 10px;
    text-align: left !important;
}

footer .row {
    width: 99% !important;
    /* overflow: hidden; */
}

footer h6 {
    color: rgb(127, 125, 125);
    margin: 5% 0 4% 4%;
}

footer ul li {
    margin: 13px;
    font-size: .9rem;
}

footer ul li a {
    color: rgb(127, 125, 125);
    text-decoration: none;
}

.footer-btn select {
    background: rgb(4, 3, 3, .5);
    color: rgb(154, 153, 153);
    padding: 2px 4px;
    margin: 1.7% 0 5% 0%;
    border: none;
    outline: none;
}

.footer-btn .for-icons {
    margin-top: 15%;
    height: 5.5vh;
    text-indent: 17px;
    border: 1px solid rgb(116, 113, 113);
}

.footer-btn img {
    opacity: .5;
}

.footer-btn i {
    color: rgb(102, 100, 100);
}

footer p {
    color: rgb(127, 125, 125);
    margin: 20% 0 0 2%;
    font-size: .9rem;
}

footer .row:nth-child(3) {
    margin-left: 1%;
}



@media all and (max-width:550px) {
    footer .row:nth-child(3) {
        /* width: 50% !important; */
        margin-left: 3%;
        /* background: rgb(209, 144, 144); */
    }

    footer h6 {
        margin: 5% 0 4% 11%;
    }

    footer ul li {
        font-size: .8rem;
    }

}

select {
    -webkit-appearance: none;
}

/* for mobile desktop size */

@media all and (min-height:1000px) {
    .all-buttons {
        height: 3vh;
    }

    .all-buttons button {
        height: 3.3vh;
    }

    .search-address input,
    button {
        height: 5.8vh;
    }

    .search-address button img {
        height: 2vh;
    }

    header {
        height: 80vh !important;
    }

    header:after {
        content: '';
        position: absolute;
        height: 80vh !important;

    }

    header:before {
        content: "";
        position: absolute;
        height: 80vh !important;

    }

    .enjoy-tv {
        height: 40vh;
    }

    .downlode-sec {
        height: 46vh;
    }

    .dow-sec-img img:nth-child(1) {
        height: 24vh;
    }

    .dow-sec-img img:nth-child(2) {
        height: 20vh !important;

    }

    .downlode-sec .dow-sec-content i {
        margin-left: 20px;
    }

    .watch-everywhere {
        height: 70vh;
    }

    .watch-everywhere .common-img img:nth-child(1) {
        width: 90%;
        height: 35vh !important;

    }

    .watch-everywhere .common-img img:nth-child(2) {
        left: 11%;
        width: 70%;
        height: 24vh;
    }

    .play-codes {
        left: 10% !important;
        width: 60% !important;
    }

    .children-profile {
        height: 50vh;
    }

    .footer-btn .for-icons {
        height: 3vh;

    }
}